/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

@import url(http://fonts.googleapis.com/css?family=Roboto);

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body {
    /*height: 2000px;*/
    font-family: Roboto, sans-serif;
    -webkit-font-smoothing: antialiased;
}

h1, h2 {
    text-align: center;
}

h1 {
    color: #222;
}

h2 {
    color: #555;
}

nav#menu {
    margin-top: 50px;
    background: #000000;
    text-align: center;
    height: 70px;
    width: 100%;
}

nav#menu ul {
    padding: 0;
    /*background: white;*/
    margin: 0 auto;
    display: inline-block;
    height: 70px;
}

nav#menu ul li {
    float: left;
    padding: 0 20px;
    list-style: none;
    margin-right: 5px;
    line-height: 70px;
    height: 70px;

    /*
     * This element will get an alternative style
     * once we apply the "scrolled" class.
     * We also want a nice animation so we can
     * simply set CSS3 transitions for this.
     */
    transition: margin 0.1s ease-in-out;
}

nav#menu ul li:nth-child(1) {
    margin-left: 5px;
}

nav#menu ul li.active {
    background: #8dc4a6;
    height: 75px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

nav#menu ul li:hover {
    background: #3f3f3f;
    height: 75px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

nav#menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.3em;
}

nav#menu a#sitename {
    font-size: 1.2em;
    line-height: 50px;
    margin: 0;
    position: absolute;
    left: 0.5em;
    color: white;
    opacity: 0;

    /*
     * Same thing here as with the menu items.
     * This element will be animated into its
     * alt. state with the transition property
     */
    transition: opacity 0.1s ease-in-out;
}

/*********************************************
 * Once the 'scrolled' class is toggled
 * we can set any alternative styling that we
 * want for the menu bar
 *********************************************/

nav#menu.scrolled {
    margin: 0;
    position: fixed;
    top: 0;
    height: 50px;

    background-color: rgba(0, 0, 0, 0.9);

    transition: background-color 0.5s ease-in-out;
    transition: height 0.2s ease-in-out;

    -moz-transition: background-color 0.5s ease-in-out;
    -moz-transition: height 0.2s ease-in-out;

    -webkit-transition: background-color 0.5s ease-in-out;
    -webkit-transition: height 0.2s ease-in-out;

    -o-transition: background-color 0.5s ease-in-out;
    -o-transition: height 0.2s ease-in-out;
}

nav#menu.scrolled ul {
    height: 50px;
}

nav#menu.scrolled ul li {
    margin: 0;
    line-height: 50px;
    height: 50px;
    transition: line-height 0.2s ease-in-out;
    -moz-transition: line-height 0.2s ease-in-out;
    -webkit-transition: line-height 0.2s ease-in-out;
    -o-transition: line-height 0.2s ease-in-out;
}

nav#menu.scrolled a#sitename {
    text-decoration: none;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
}

nav#menu.scrolled ul li.active {
    background: #8dc4a6;
    height: 52px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

nav#menu.scrolled ul li.active:hover {
    background: #8dc4a6;
    height: 55px;
}

nav#menu.scrolled ul li:hover {
    background: #3f3f3f;
    height: 55px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

    transition: height 0.1s ease-in-out;
    -moz-transition: height 0.1s ease-in-out;
    -webkit-transition: height 0.1s ease-in-out;
    -o-transition: height 0.1s ease-in-out;
}

.navbar-collapse.collapse.in, .navbar-collapse.collapsing {
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
}

.navbar-collapse.collapse.in ul, .navbar-collapse.collapsing ul {
    width: 100%;
}

/* contact class */

.contact {
    background-image: url('../img/bg-contact.png');
    background-color: #303030;
    /*test1 30%, bg2 70%?*/
}

.contact h1 {
    color: #ffffff;
}

.contact input {
    border-radius: 8px;
    border: 0;
    background: #292929;
    border-color: #202020;
    box-shadow: inset 0px 2px 1px 0px rgba(0,0,0,0.05), inset 0px 2px 3px 0px rgba(0,0,0,0.1);

    line-height: 1.85em;
    color: #ffffff;
    font-weight: 300;
}

.contact textarea {
    border-radius: 8px;
    border: 0;
    background: #292929;
    border-color: #202020;
    box-shadow: inset 0px 2px 1px 0px rgba(0,0,0,0.05), inset 0px 2px 3px 0px rgba(0,0,0,0.1);

    line-height: 1.85em;
    color: #ffffff;
    font-weight: 300;
}

.experience {

}

.experience .picture {
    float: right;
}

.experience .description {
    margin-right: 160px;
}

.experience .description .period {
    font-size: small;
    color: #444444;
}

.experience .description p {
    text-align: justify;
}

.form-buttons {
    text-align: center;
}

.form-buttons li {
    margin: 0.25em;
    position: relative;
    display: inline-block;
}

.footer {
    text-align: center;
    color: #777777;
}

.footer li {
    margin: 0.25em;
    position: relative;
    display: inline-block;
}

.footer a {
    color: #777777;
    text-decoration: underline;
}

.footer a:hover {
    color: #888888;
}

.me {
    float: left;
}

.me img {
    border-radius: 50%;
    overflow: hidden;
    width: 300px;
    height: 300px;
}

@media (max-width: 500px) {
    .me {
        float: none;
    }

    .me img {
        border-radius: 50%;
        overflow: hidden;
        width: 80vmin;
        height: 80vmin;
    }
}

.social {
    text-align: center;
}

.social li {
    margin: 0.25em;
    position: relative;
    display: inline-block;
}

.social li:hover {
    top: -5px;

    transition: top 0.5s ease-in-out;
    -moz-transition: top 0.5s ease-in-out;
    -webkit-transition: top 0.5s ease-in-out;
    -o-transition: top 0.5s ease-in-out;
}

.social a {
    color: #5E5E5E !important;
    text-decoration: none;
}

.social a:hover {
    transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
}

.social #linkedin:hover {
    color: #007bb6 !important;
}

.social #twitter:hover {
    color: #00aced !important;
}

.social #facebook:hover {
    color: #3B5998 !important;
}

.social #google:hover {
    color: #dd4b39 !important;
}

.social #github:hover {
    color: #CCCCCC !important;
}

.logo {
    text-align: center;
}

.logo li {
    margin: 0.25em;
    position: relative;
    display: inline-block;
}

/*.col-lg-8, .col-lg-4, .col-lg-6 {
    position: inherit;
}*/

.sublogo {
    font-family: "Courier New";
}

/*@media (max-width: 300px) {
    .sublogo { font-size: 1.5vmax; }
}*/

@media (max-width: 499px) {
    .sublogo { font-size: 1.5vmax; }
}

@media (min-width: 500px) {
    .sublogo { font-size: 100%; }
}

@media (min-width: 700px) {
    .sublogo { font-size: 150%; }
}

/*@media (min-width: 1200px) {
    .sublogo { font-size: 150%; }
}*/

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
